<template>
    <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>
                <div>
                    <div>
                        <a @click="editarUsuario(user)">Editar</a>
                    </div>
                    <div>
                        <a @click="eliminarUsuario(user.id)">Eliminar</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</template>

<script setup lang="ts">
import type IUsuario from '@/Interfaces/IUsuario'
import { ref } from 'vue';

const user = defineProps<IUsuario>();
const emits = defineEmits(['delete','update']);

const eliminarUsuario = (id: number) => {
    if (confirm('¿Deseas eliminar este usuario?')) {
        emits("delete", id);
    }
}

const editarUsuario = (usuario: IUsuario) => {
    emits("update", usuario);
}
</script>

<style scoped></style>