<template>
    <div style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  padding: 20px;">
        <h2 style="text-align: center;">CRUD Usuarios</h2>
        <form @submit.prevent="register()" style="padding: 10px;">
            <div class="input-container">
                <input type="text" id="disabledInput" v-model="idUser" disabled class="disabled-input" />
                <i @click="limpiarID()" class="icon-cancel">X</i>
            </div>
            <div :class="[error ? 'errorClass' : '']">
                <label for="email">Correo:</label>
                <input v-model="formData.email" autocomplete="off" id="email" />
                <span class="error-message">{{ errorMessages.email }}</span>
            </div>
            <div :class="[error ? 'errorClass' : '']">
                <label for="password">Contraseña:</label>
                <input v-model="formData.password" autocomplete="off" id="password" />
                <span class="error-message">{{ errorMessages.password }}</span>
            </div>
            <div :class="[error ? 'errorClass' : '']">
                <label for="name">Nombre:</label>
                <input v-model="formData.name" autocomplete="off" id="name" />
                <span class="error-message">{{ errorMessages.name }}</span>
            </div>
            <div :class="[error ? 'errorClass' : '']">
                <label for="age">Edad:</label>
                <input type="number" v-model="formData.age" autocomplete="off" id="age" />
                <span class="error-message">{{ errorMessages.age }}</span>
            </div>
            <button type="submit">{{ buttonLogic }}</button>
        </form>
    </div>
    <div style="margin: 3rem; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <h2>Registros</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <Records @-delete="eliminarUsuario(user.id)" @-update="tomarDatosDelUsuario(user)" v-bind="user"
                v-for="(user, i) in usuariosData" :key="i"></Records>
        </table>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import UsuariosData from '@/data/UsariosData';
import { useRouter } from 'vue-router';
import Records from '@/components/records/Records.vue';
import type IUsuario from '@/Interfaces/IUsuario';

let error: boolean = false;
let errorEmail: boolean = false;
let errorPassword: boolean = false;
let errorName: boolean = false;
let errorAge: boolean = false;
let buttonLogic: 'Agregar' | 'Editar' = 'Agregar';
let idUser: number;

const formData = ref({
    id: 0,
    email: '',
    password: '',
    name: '',
    age: 0,
});

var usuariosData = ref([...UsuariosData]);
const router = useRouter();

const errorMessages = ref({
    email: '',
    password: '',
    name: '',
    age: '',
    user: 'Ya existe este usuario.'
});


const register = () => {
    verificarCampoEmail();
    verificarCampoPassword();
    verificarCampoName();
    verificarCampoAge();

    if (errorEmail == true) {
        return;
    }
    if (errorPassword == true) {
        return;
    }
    if (errorName == true) {
        return;
    }
    if (errorAge == true) {
        return;
    }

    if (verificarUsuario() == false) {
        alert(errorMessages.value.user)
        return;
    }
    if (idUser > 0) {
        editarUsuario(idUser);
        alert('Se ha editado el registro correctamente');
        return;
    } else {
        agregarID();
        usuariosData.value.push({ ...formData.value });
        alert('Se ha agregado un nuevo registro');
        limpiarID();
    }

}

const verificarCampoEmail = () => {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!regex.test(formData.value!.email)) {
        errorEmail = true;
        errorMessages.value.email = "Correo electronico invalido.";
    } else {
        errorEmail = false;
        errorMessages.value.email = "";
    }
}
const verificarCampoPassword = () => {
    const passwordLenght = formData.value!.password.length;
    if (passwordLenght < 8) {
        errorPassword = true;
        errorMessages.value.password = 'La contraseña debe tener al menos 8 caracteres.';
    } else {
        errorPassword = false;
        errorMessages.value.password = "";
    }

}

const verificarCampoName = () => {
    const name = formData.value!.name;
    const nameLength = name.length;
    if (name === '') {
        errorMessages.value.name = 'El nombre no puede estar vacío.'
        errorName = true;
    } else if (nameLength > 25 || nameLength < 3) {
        errorMessages.value.name = `El nombre solo puede contener hasta 25 letras y ser compuesto por minimo 3 letras.`;
        errorName = true;
    } else {
        errorMessages.value.name = '';
        errorName = false;
    }

}

const verificarCampoAge = () => {
    const age = formData.value!.age;
    if (isNaN(age)) {
        errorMessages.value.age = 'Edad inválida, solo se permiten números.'
        errorAge = true;
    } else if (age < 18) {
        errorMessages.value.age = `No es posible registrar a un menor de edad.`
        errorAge = true;
    } else if (age > 100) {
        errorMessages.value.age = "Edad superior a la existente en el planeta.";
        errorAge = true;
    } else {
        errorAge = false;
        errorMessages.value.age = ''
    }
}

const verificarUsuario = () => {
    const foundUser = usuariosData.value.find(
        user => user.email === formData.value.email && user.id !== idUser
    );
    if (foundUser) {
        console.log('Ya existe este usuario');
        return false;
    } else {
        console.log('Usuario agregado');
        return true;
    }
};

const agregarID = () => {
    let maxId = Math.max(...usuariosData.value.map((user) => user.id));
    formData.value.id = maxId + 1;
}
const eliminarUsuario = (userId: number) => {
    const filtrados = usuariosData.value.filter(
        (user) => user.id !== userId
    )
    usuariosData.value = filtrados;
    limpiarID();
}
const tomarDatosDelUsuario = (editedUser: IUsuario) => {
    formData.value = {
        ...editedUser,
        id: 0
    };
    idUser = editedUser.id;
    buttonLogic = 'Editar';
}
const limpiarID = () => {
    formData.value = {
        id: 0,
        email: '',
        password: '',
        name: '',
        age: 0,
    }
    idUser = 0;
    buttonLogic = 'Agregar';
}
const editarUsuario = (id: number) => {
    const index = usuariosData.value.findIndex(
        (user) => user.id === id
    );
    usuariosData.value[index] = { ...formData.value, id: id };
}
</script>

<style>
form {
    max-width: 400px;
    margin: auto;
    display: grid;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #698a15;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
}

button:hover {
    background-color: #698a15;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #698a15;
    color: white;
}

.input-container {
    position: relative;
}

.disabled-input {
    width: 93%;
    padding-right: 30px;
    /* Espacio para el icono */
}

.icon-cancel {
    position: absolute;
    top: 40%;
    right: 10px;
    /* Ajusta la posición según tus necesidades */
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
    /* Cambia el color del icono según tus necesidades */
}

.errorClass label {
    color: #ff3c32;
}

.errorClass input {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 4px;
    display: block;
}
</style>  