<template>
    <div style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  padding: 20px;">
        <h2 style="text-align: center;">Login</h2>
        <form @submit.prevent="login()" style="padding: 10px;">
            <div :class="[error ? 'errorClass' : '']">
                <label for="email">Correo:</label>
                <input v-model="formData.email" autocomplete="off" id="email"/>
                <span class="error-message">{{ errorMessages.email }}</span>
            </div>
            <div :class="[error ? 'errorClass' : '']">
                <label for="password">Contraseña:</label>
                <input v-model="formData.password" autocomplete="off" id="password"/>
                <span class="error-message">{{ errorMessages.password }}</span>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div style="margin: 3rem; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <h2>Registros</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(registro, index) in usuariosData" :key="index">
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.email }}</td>
                    <td>{{ registro.password }}</td>
                    <td>{{ registro.name }}</td>
                    <td>{{ registro.age }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
// import type IUsuario from '@/Interfaces/IUsuario'
import UsuariosData from '@/data/UsariosData';
import { useRouter } from 'vue-router';

let error: boolean = false;
let errorEmail: boolean = false;
let errorPassword: boolean = false;

const formData = ref({
    email: '',
    password: '',
});

const usuariosData = ref([...UsuariosData]);
const router = useRouter();

const errorMessages = ref({
    email: '',
    password: '',
    user: 'El correo o la contraseña son invalidos.'
});


const login = () => {
    verificarCampoEmail();
    verificarCampoPassword();

    if (errorEmail == true) {
        return
    }
    if (errorPassword == true) {
        return
    }

    if(verificarUsuario() == false){
        alert(errorMessages.value.user)
        return
    }

    router.push('/dashboard');

}

const verificarCampoEmail = () => {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!regex.test(formData.value!.email)) {
        errorEmail = true;
        errorMessages.value.email = "Correo electronico invalido.";
    } else {
        errorEmail = false;
        errorMessages.value.email = "";
    }
}
const verificarCampoPassword = () => {
    const passwordLenght = formData.value!.password.length;
    if (passwordLenght < 8) {
        errorPassword = true;
        errorMessages.value.password = 'La contraseña debe tener al menos 8 caracteres.';
    } else {
        errorPassword = false;
        errorMessages.value.password = "";
    }

}

const verificarUsuario = () => {
    const foundUser = usuariosData.value.find(
        user => user.email === formData.value.email && user.password === formData.value.password
    );
    if (foundUser) {
        console.log('Inicio de sesión exitoso');
        return true;
    } else {
        console.log('Credenciales incorrectas');
        return false;
    }
};

</script>

<style>
form {
    max-width: 400px;
    margin: auto;
    display: grid;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #698a15;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    margin: 0 auto;
}

button:hover {
    background-color: #698a15;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #698a15;
    color: white;
}

.errorClass label {
    color: #ff3c32;
}

.errorClass input {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 4px;
    display: block;
}
</style>  